:root {
  --grayMain: rgb(176, 178, 187);
  --blueMain: #00b3ff;
  --blueMilky: #d6ecf6;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 70%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}
nav li {
  margin-left: 2rem;
}
nav a {
  text-decoration: none;
  color: var(--grayMain);
  font-size: 1rem;
  padding-bottom: 2.5rem;
}
nav a:hover {
  border-bottom: 4px solid var(--blueMain);
}

/*End of navbar*/

/*Slider*/

.top-sell {
  margin-top: 0.8rem;
  width: 100%;
  height: 60vh;
  background: var(--blueMilky);
  text-transform: uppercase;
}
.slider {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}
.slider .left {
  line-height: 1.625;
  text-align: left;
  font-family: "Roboto";
}
.slider .left p {
  font-size: 1rem;
}
.slider .left h1 {
  font-size: 3.75rem;
  margin-bottom: 0.5rem;
}
.slider .btn {
  color: #fff;
  background: var(--blueMain);
  text-decoration: none;
  padding: 0.6rem 2.7rem;
}
.right {
  position: relative;
}
.boxes {
  position: absolute;
  top: 6rem;
  left: 4rem;
}
.box {
  width: 17rem;
  height: 17rem;
  background: transparent;
  border: 5px solid #fff;
  z-index: -1;
}
.upBox {
  position: absolute;
  z-index: 1;
  bottom: 16px;
  right: 53px;
}
.downBox {
  position: absolute;
  z-index: 3;
  right: -65px;
  bottom: -87px;
}
.boxPic {
  z-index: 4;
  width: 21rem;
  height: 21rem;
  position: absolute;
  top: -10rem;
  right: -5rem;
}
.boxPic img {
  width: 100%;
  height: 100%;
}
.slidershow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.navigation {
  position: absolute;
  bottom: 1.2rem;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  width: 2rem;
  height: 0.8rem;
  border: 2px solid var(--blueMain);
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover {
  background: var(--blueMain);
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}
.slides {
  width: 300%;
  display: flex;
}
.slide {
  width: 33.33333%;
  transition: 0.6s;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -33.33333%;
}
#r3:checked ~ .s1 {
  margin-left: -66.66666%;
}

/*FEATURED CATEGORIES*/

.container {
  width: 70%;
  margin: 4rem auto;
}
.featuredTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featuredLeft {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 0.8rem;
}
.featuredRight span {
  margin-right: 1rem;
}
.featuredRight span:hover {
  cursor: pointer;
}
/*CONTENT OF FEATURED CATEGORIES*/
.featuredContent {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0.7rem;
  width: 100%;
}
.featuredBox {
  border-bottom: 1px solid rgba(161, 159, 159, 0.562);
}
.featuredData {
  text-align: center;
  text-transform: capitalize;
  font-family: "Roboto";
  font-size: 0.75rem;
  margin-top: 0.45rem;
}
.featuredData .uppercase {
  text-transform: uppercase;
}
.featuredData .featuredNoOfItems {
  color: gray;
  text-transform: capitalize;
  margin-top: 0.2rem;
}
.featuredBox img {
  height: 10rem;
}

.featuredProduct {
  position: relative;
  background-color: #f4f4f4;
  padding: 0.7rem 0;
  text-align: center;
}
/*Hover on featured product*/
.featuredContent > .featuredProduct::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #212642ec;
  z-index: 2;
  transition: 0.3s all;
  opacity: 0;
}
.featuredProduct:hover::before {
  opacity: 1;
}

.featuredProduct .info {
  position: absolute;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transition: 0.5s all;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /*Display flex is set so the button can take width of 100% of parent element*/
  display: flex;
  justify-content: center;
  text-align: center;
}
.featuredProduct .info .button {
  color: #fff;
  background: var(--blueMain);
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  padding: 0.7rem 0.1rem;
  font-family: "RobotoLight";
}

.featuredProduct:hover .info {
  opacity: 1;
}

/*Best price in this month*/
.bestPrice {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 0.7rem;
  width: 100%;
}

.bestPrice_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bestPrice_title h2 {
  width: 50%;
  text-transform: uppercase;
  text-align: left;
  font-family: "Roboto";
  font-size: 1.7rem;
}
.bestPrice_title .button {
  color: #fff;
  background: var(--blueMain);
  text-decoration: none;
  text-transform: uppercase;
  width: 25%;
  padding: 0.7rem 0.1rem;
  font-family: "RobotoLight";
  text-align: center;
}
.priceFirst {
  border-bottom: none;
}
.price img {
  height: 14.5rem;
}

/*NEW ARRIVALS*/
.newArrivals {
  margin: 4rem auto;
  width: 100%;
}
.arrivals ul {
  display: flex;
  list-style-type: none;
}
.arrivals li {
  margin-left: 1.2rem;
}
.arrivals a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}
.arrivals a:hover {
  color: var(--blueMain);
}

/*NEW ARRIVALS PRODUCTS*/

.newArrivals_products {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.7rem;
  row-gap: 0.7rem;
  width: 100%;
}

/*NEW ARRIVALS PRODUCTS HOVEEER*/
.newArrivals_products > .featuredProduct {
  position: relative;
}
.newArrivals_products > .featuredProduct::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 82%;
  background: #212642ec;
  z-index: 2;
  transition: 0.3s all;
  opacity: 0;
}
.featuredProduct:hover::before {
  opacity: 1;
}
.hoverElement {
  position: absolute;
  width: 100%;
  bottom: 4.4rem;
  z-index: 3;
  transition: 0.5s all;
  opacity: 0;
}
.featuredProduct:hover .hoverElement {
  opacity: 1;
}
.hoverIcons {
  background: #fff;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem 0rem;
  margin: 0 auto;
}
.hoverIcons i {
  font-size: 0.93rem;
}
.hoverIcons i:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .slider {
    width: 100%;
  }
  .slider .right {
    display: none;
  }
  .slider .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    text-align: center;
  }

  .slider .left h1 {
    font-size: 3.3rem;
    line-height: 1;
    margin: 2rem auto;
  }
  .slider .btn {
    padding: 0.5rem 2rem;
  }
  .bar {
    width: 1.8rem;
    height: 0.8;
  }
}
