:root {
  --grayMain: rgb(176, 178, 187);
  --blueMain: #00b3ff;
  --blueMilky: #d6ecf6;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 70%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}
nav li {
  margin-left: 2rem;
}
nav a {
  text-decoration: none;
  color: var(--grayMain);
  font-size: 1rem;
  padding-bottom: 2.5rem;
}
nav a:hover {
  border-bottom: 4px solid var(--blueMain);
}

/*End of navbar*/

/*Slider*/

.top-sell {
  margin-top: 0.8rem;
  width: 100%;
  height: 60vh;
  background: var(--blueMilky);
  text-transform: uppercase;
}
.slider {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}
.slider .left {
  line-height: 1.625;
  text-align: left;
  font-family: "Roboto";
}
.slider .left p {
  font-size: 1rem;
}
.slider .left h1 {
  font-size: 3.75rem;
  margin-bottom: 0.5rem;
}
.slider .btn {
  color: #fff;
  background: var(--blueMain);
  text-decoration: none;
  padding: 0.6rem 2.7rem;
}
